body {
  height: 100vh;

  font-family: 'JetBrains Mono', monospace;

  color: #ffffff;
  background-color: #14131b;
  background: linear-gradient(#14131b, #09080d);
}

h1 {
  font-size: 18px;
  color: #807c92;
}
